$colors: (
  'red': #e84235,
  'blue': #4285f4,
  'yellow': #fabb06,
  'green': #34ab53,
  'grey': #dfe1e5
);

$search: (
  'height': 60px,
  'btn-color': #3388ff,
  'font-color': #ffffff,
  'border-color': #dfe1e5,
  'btn-radius': 6px,
  'input-radius': 10px
);

$round-search: (
  'height': 45px
);

$margins: (
  'normal': 10px,
  'medium': 15px,
  'big': 20px
);
