@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_2009014_xpksy54iyz.eot?t=1597550734613'); /* IE9 */
  src: url('//at.alicdn.com/t/font_2009014_xpksy54iyz.eot?t=1597550734613#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABngAAAKEAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBBIEdATYCJAMICwYABCAFhG0HMBvDBciemjwpCkKEMP4/trQBcBni4b/9WPfNDCYSqWJZpVmiUbqkBCGSAqfr7rbN/2itDSLWFon/3lBPWs9+9sT3Frf0CYuEIhYSFbJYV50c4SXlLKO2Ym57f5oCXB9cU/8XQI15QHPLCI4EHNh0QN04auGNZOQbxi54gecJNBoVkrEzOD4F+Qp7WiAedFWC/IJXUViiXqhtWFsgXtSoT4fpEXiOvh+/EpEPkpoMdsn+/UAKuj/hpOSNasN1gPAR0OYaZCwDhThujO7KEoyQpTGabRIcqzD4RFUFenFUjWB/nZ3fDIYh95l4Hv9R8xMoSfc0sD2pL6m/eZk++FRyqTz5H+y9Ouq6rpPNpWefld5HHkur7dl5OfMthwVjVRv3F1ult03//5ruWjdf7zeqxwoOp+dzcg76Ds4OGpLn3xlmes0MIyOgZpqZhtigv5R+gg2ASn7NCmQgeFsIoaz9f31TNsBH3tAJlQL5BkD9KWzBr+INbCqGwNalovEa7cn0pKkJjRpRhZ2dvqYqe+7LHOoLPAZJnRHI6k2jBb8MNZqsQK1669BoydDmJl2YLFEKgEW7AEK7S0havUPW7gkt+E+o0esfarVHFjQ6jao9m8yGXtjHUOKYIvIi0RXXoa6BF8aFE6jOWhLLCyLaDLJAD5B4JFZODKGDbIkFwZya4JwSylybDILL0LJc4jHXQIVHNM691miUNt0oorg2FNrGIAmHUgjZIkKncDlo0JkrrHx+AlLNskhYR1mdfQZiAnrvRFxEbAA6JHUGlT3KNYE5qgSOowiKcdmIQTAKWSwuwmseZUAKLkKbEPa0ijrt6FBpZHu5/QM5rApblcIZlgW1jygxRQMA')
      format('woff2'),
    url('//at.alicdn.com/t/font_2009014_xpksy54iyz.woff?t=1597550734613')
      format('woff'),
    url('//at.alicdn.com/t/font_2009014_xpksy54iyz.ttf?t=1597550734613')
      format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url('//at.alicdn.com/t/font_2009014_xpksy54iyz.svg?t=1597550734613#iconfont')
      format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: '\e71f';
}
